<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit"/>
<title></title>
<link rel="stylesheet" href="css/pintuer.css"/>
<link rel="stylesheet" href="css/admin.css"/>
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
<title>个人信息</title>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head">
  <strong><span class="icon-key"></span> 本人信息</strong>
  <a href="changePassword" style="float:right;color:green;">修改密码</a>
  </div>
  
  <div class="padding border-bottom">
  	<div class="panel-head" style="text-align: center;">
    	<img src="images/y.jpg" class="radius-circle rotate-hover" height="100" />
    </div>
    <div class="panel-head">
    	<strong> 工号：</strong><span> 1330</span>
    </div>
    <div class="panel-head">
    	<strong> 姓名：</strong><span> 方秋都</span>
    </div>
    <div class="panel-head">
    	<strong> 身份证号：</strong><span> 14023562848262626</span>
    </div>
    <div class="panel-head">
    	<strong> 管理员级别：</strong><span> 高级管理员</span>
    </div>
  </div>
  
</div>
</body>
</html>