<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="css/pintuer.css"/>
<link rel="stylesheet" href="css/admin.css"/>
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
<title>修改</title>
<style type="text/css">
</style>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="changebook"><strong><span class="icon-pencil-square-o">
  </span> 修改</strong>
  <a href="add.html" style="float:right;color:green;">新添加信息</a> 
  
  </div>
  
  
	<div class="panel-head" style="text-align:center;">
    	<img class="radius-rounded rotate-hover"  width="200" src="images/book/default.jpg"  th:src="@{images/book/} + ${bookInfos.cover}" />
    </div>
	<div class="panel-head" style="text-align:center;">
    	<form style="text-align: center;" action="setimg" class="form-x" enctype="multipart/form-data" method="post">
	    	<div class="form-group">
	        <div class="label">
	          <label>更改封面：</label>
	        </div>
	        <div class="field" style="text-align:center;">
	          <input type="file" id="url1" name="coverImg" class="input tips" style="width:25%; float:none;" />
	          <input type="hidden" name="id" th:value="${bookInfos.id}"/>
	        </div>
	        <div class="field" >
	          <button class="button bg-main icon-check-square-o" type="submit" style="float:left;margin:10px 120px;"> 修改</button>
	        </div>
	      </div>       
    	</form>
    </div>

  <div class="body-content">
    <form method="post" class="form-x" enctype="multipart/form-data" action="/">  
      <div class="form-group">
        <div class="label">
          <label>书名：</label>
        </div>
        <div class="field">
          <input id="title" type="text" th:value="${bookInfos.name}" class="input w50" value="" name="title" placeholder="请输入书名" data-validate="required:不能为空"/>
        </div>
      </div>
      <!-- <div class="form-group">
        <div class="label">
          <label>封面：</label>
        </div>
        <div class="field">
        
          <input type="file" id="url1" name="img" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover" data-place="right" />
        </div>
      </div> -->     
      <script type="text/javascript">
      
      function showTypes(date){
    	  var len = date.length;
    	  
    	  var htmlCode = "";
    	  for(var i=0;i < len;i++){  
    	  htmlCode = htmlCode + "<option value='"+date[i].id+"'>"+date[i].name+"</option>";
    	  }
    	 $("#tid").html(htmlCode);
      }
      
      
      $(document).ready(function(){
    	  //下拉列表
    	  $("#cid").change(function(){
    		 // var cname = $("#cid option:selected").text();
    		  var classId = $("#cid option:selected").val();  
    		  var uri = "types?cid=" + classId;
    		 $.post(uri,{cid:classId},function(date){
    			 showTypes(date);
    		 });
    	  });
    	//下拉列表
    	  
    	  
      });
      </script>
        <div class="form-group">
          <div class="label">
            <label> 类型：</label>
          </div>
          <div class="field">
            <select id="cid" name="cid" class="input w50" >
              <option value="未设置"  th:each="clazz:${clazzs}" th:text="${clazz.name}" th:value="${clazz.id}"></option>
            </select>
            
            <select name="tid" class="input w50" id="tid">
              <option value="未设置"  th:each="type:${types}" th:text="${type.name}" th:value="${type.id}"></option>
            </select>
            
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label>作者：</label>
          </div>
          
          <div class="field">
          
          <select id="wid" class="input w50" >
               <option value="未设置"  th:each="w:${writers}" th:text="${w.name}" th:value="${w.id}"></option>
            </select>
            <input id="opwri" type="text" class="input w50" placeholder="请输入作者名称" />
            <span style="color:red;font-size:12px;">若无可选项，请添加新作者信息</span>
          
          <!-- 	<input type="text" th:value="${bookInfos.writer.name}" class="input w50"   placeholder="请看右边提示" /> -->
          	<!-- <span style="color:red;font-size:12px;">若左边下拉列表没有可选项，可在右边框中填写作者姓名,右边信息会覆盖左边下拉列表信息</span> -->
          </div>
        </div>
        
        <script type="text/javascript">
	          $("#opwri").bind("input propertychange change",function(event){
	        	 // $("#wid").empty();
	        	  var inf =  $("#opwri").val();
	              $.post("optionwriters",{info:inf},function(date){
	            	  var op = "";
	            	  var len = date.length;
	            	  for(i=0; i<len; i++){
	            		 op = op +  "<option value='"+date[i].id+"'>"+date[i].name+"</option>";
	            	  }
	            	  $("#wid").html(op);
	              });
	     	 });
          </script>
        
        
        
        <div class="form-group">
          <div class="label">
            <label>出版社：</label>
          </div>
          <div class="field">
          
          
          <select id="pid"  class="input w50" >
              <option value="未设置"  th:each="p:${publishs}" th:text="${p.name}" th:value="${p.id}"></option>
            </select>
            <input id="oppub" type="text" class="input w50" placeholder="请输入出版社名称" />
            <span style="color:red;font-size:12px;">若无可选项，请添加新出版社信息</span>
          
          
          	<!-- <input type="text" th:value="${bookInfos.publish.name}"  class="input w50" value="" name="title" placeholder="请看右边提示" />
          	<span style="color:red;font-size:12px;">若左边下拉列表没有可选项，可在右边框中填写出版社名称,右边信息会覆盖左边下拉列表信息</span> -->
          </div>
        </div>
        
        <script type="text/javascript">
	          $("#oppub").bind("input propertychange change",function(event){
	        	  //$("#pid").empty();
	        	  var inf =  $("#oppub").val();
	              $.post("optionpublishs",{info:inf},function(date){
	            	  var op = "";
	            	  var len = date.length;
	            	  for(i=0; i<len; i++){
	            		 op = op +  "<option value='"+date[i].id+"'>"+date[i].name+"</option>";
	            	  }
	            	  $("#pid").html(op);
	              });
	     	 });
          </script>
        
        
        <div class="form-group">
          <div class="label">
            <label>价格：</label>
          </div>
          <div class="field">
          	<input id="pri" type="text"  th:value="${bookInfos.price}"  class="input w50" value="" name="title" placeholder="请输入价格" data-validate="required:不能为空"/>
          </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>概述：</label>
        </div>
        <div class="field">
          <textarea id="summ" class="input" name="note" style=" height:90px;" th:text="${bookInfos.summary}" ></textarea>
          <div class="tips"></div>
        </div>
      </div>
      
     <!--  <div class="form-group">
        <div class="label">
          <label>正文：</label>
        </div>
        <div class="field">
          <textarea name="content" class="input" style="height:450px; border:1px solid #ddd;" placeholder="正文"></textarea>
          <div class="tips"></div>
        </div>
      </div> -->
      
     
      <div class="clear"></div>
      
     <div class="form-group">
        <div class="label">
          <label>上架时间：</label>
        </div>
        <div class="field"> 
          <script src="js/laydate/laydate.js"></script>
          <input id="pay" th:value="${#dates.format(bookInfos.payaway,'yyyy-MM-dd')}" type="date" class="laydate-icon input w50" name="datetime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value=""  data-validate="required:日期不能为空" style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" />
          <div class="tips"></div>
        </div>
      </div>
     <input id="bid" type="hidden" readonly="readonly" th:value="${bookInfos.id}">
      <div class="form-group">
        <div class="label">
          <label>下架时间：</label>
        </div>
        <div class="field"> 
          <script src="js/laydate/laydate.js"></script>
          <input id="sold" th:value="${#dates.format(bookInfos.soldout,'yyyy-MM-dd')}"  type="date" class="laydate-icon input w50" name="datetime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value=""  data-validate="required:日期不能为空" style="padding:10px!important; height:auto!important;border:1px solid #ddd!important;" />
          <div class="tips"></div>
        </div>
      </div>
      
      <div class="form-group">
          <div class="label">
            <label>试读页数：</label>
          </div>
          <div class="field">
          	<input id="limits" type="text" th:value="${bookInfos.limit}"  class="input w50" value="" name="title" placeholder="请输入试读页数" />
          </div>
        </div>
            
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button id="subinfos" class="button bg-main icon-check-square-o" type="button"> 修改</button>
        </div>
      </div>
    </form>
    <script type="text/javascript">
    	$(document).ready(function(){
    		$("#subinfos").click(function(){
    			var title = $("#title").val();
    			var bid = $("#bid").val();
    			var tId = $("#tid").val();
    			var wId = $("#wid").val();
    			var pId = $("#pid").val();
    			var summ = $("#summ").val();
    			var pri = $("#pri").val();
    			var pay = $("#pay").val();
    			var sold = $("#sold").val();
    			var limits = $("#limits").val();
    			//alert("ID："+bid+"书名：" + title + "；类型：" + tId + "；作者：" + wId + "；出版社："+pId+"；简介：" +summ+ "；价格：" +pri+ "；上架时间：" +pay+ ";下架时间：" +sold+ ";试读页面：" + limits);
    			if(title != null && title != "" && bid != null && bid != "" && tId != null && tId != "" && wId != null && wId != "" && pId != null && pId != "" && summ != null && summ != "" && pri != null && pri !="" && pay != null && pay != "" && sold != null && sold != "" && limits != null && limits != ""){
    				if((pri == 0 && limits == 0) || (pri !=0 && limits != 0)){
    					$.post("changeBookInfos",{
    	    				id:bid,name:title,typeId:tId,writerId:wId,publishId:pId,price:pri,summary:summ,payaway:pay,soldout:sold,limit:limits
    	    			},function(date){
    	    				//alert(date);
    	    				window.location.href=date; 
    	    			});
    				}else{
    					alert("价格和试读章数不对应,无法提交");
    				}
    			}
    			
    		});
    	});
    </script>
  </div>
</div>
</body>
</html>