<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit"/>
<link rel="stylesheet" href="css/pintuer.css"/>
<link rel="stylesheet" href="css/admin.css"/>
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
<title>详情</title>
</head>
<body>
<div class="panel admin-panel">
	<div class="panel-head">
    	<strong class="icon-reorder"> 修改</strong> 
    	<a href="addpub" style="float:right;color:green;">新添加信息</a>
    </div>
    <div class="padding border-bottom">
    
    	<div class="panel-head" style="text-align: center;">
    		<img width="200" src="images/publish/default.jpg"th:src="@{images/publish/}+${publish.cover}"  class="radius-rounded rotate-hover"  th:href="@{images/publish/} + ${publish.cover}"/>
    	</div>
    	<div class="panel-head">
    	<div class="body-content">
			  <form method="post" class="form-x" action="setPcover" enctype="multipart/form-data" > 
			  	<div class="form-group">
			        <div class="label">
			          <label>封面：</label>
			        </div>
			        <div class="field">
			          <input type="file" id="pcover" name="pcover" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover" data-place="right" data-image="" />
			          <input id="publishid"  name="id"type="hidden" value="" th:value="${publish.id}"/>
			        </div>
			      </div>
			      <div class="form-group">
			        <div class="label">
			          <label></label>
			        </div>
			        <div class="field">
			          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
			        </div>
			      </div>
			   </form>
  </div>
    	</div>
    
    	<div class="panel-head">
    		<strong> 序号：</strong><span id="wid" th:text="${publish.id}" > 未设置</span>
    	</div>
    	<div class="panel-head">
    		<strong> 名字：</strong><input onchange="changeBookInfos();" id="wname" type="text"  th:value="${publish.name}" />
    	</div>

    	<div class="panel-head">
    		<strong> 简介：</strong><textarea id="summ" rows="10" cols="150" th:text="${publish.summary}" onchange="changeBookInfos();"></textarea>
    	</div>
    	<script type="text/javascript">
    		function changeBookInfos(){
    			var id = $("#wid").text();
    			var wname = $("#wname").val();
    			var summ = $("#summ").val();
    			if(id != null && id != "" && wname != null && wname != "" && summ != null && summ != ""){
    				$.post("chagepublish",{pid:id,name:wname,summary:summ},function(date){
        				alert(date);
        				//window.location.href=date; 
        			});
    			}
    			
    		}
    	</script>
    </div>
</div>
</body>
</html>