<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit"/>
<title></title>
<link rel="stylesheet" href="css/pintuer.css"/>
<link rel="stylesheet" href="css/admin.css"/>
<link rel="stylesheet" href="trumbowyg/design/css/trumbowyg.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加新书</strong>- ID号: <span id="bookid" style="color:red;" th:text="${bid}">ID号</span > - <span style="color:red;" th:text="${chaptername}">章节</span></div>
  <div class="body-content">
  
  
  <script src="js/jquery.js"></script>

        <script src="trumbowyg/trumbowyg.js"></script>

        <script src="trumbowyg/langs/fr.js"></script>

        <script src="trumbowyg/plugins/upload/trumbowyg.upload.js"></script>

        <script src="trumbowyg/plugins/base64/trumbowyg.base64.js"></script>
  
    <form method="post" class="form-x" action="">  
      <div class="form-group">
          <div class="label">
            <label>章节名称：</label>
          </div>
          <div class="field">
          	<input id="chap"  type="text" class="input w50" value="" name="title" placeholder="请输入本章节名称" />
          </div>
        </div>
            <form action="#">
                <div id="simple-editor">
                </div>
        </form>
        
        
        <script>
        	/* $(document).ready(function(){
        		$
        	}); */
        	function addText(suc){
        		var chap = $("#chap").val();
        		var txt = $("#simple-editor").html();
        		var bookid = $("#bookid").text();
        		if(chap!="" && txt!="" && txt != null && chap != null){
        			$.post("addtext",{chapter:chap,text:txt,bid:bookid,success:suc},function(date){
        				alert("已添加");
        				window.location.href=date;
        			});
        		}else{
        			alert("填写信息不能为空");
        		}
        		
        	}
        </script>
        
        <script>

            /** Default editor configuration **/

            $('#simple-editor').trumbowyg();







            /********************************************************

             * Customized button pane + buttons groups + dropdowns

             * Use upload plugin

             *******************************************************/



            /*

             * Add your own groups of button

             */

            $.trumbowyg.btnsGrps.test = ['bold', 'link'];



            /* Add new words for customs btnsDef just below */

            $.extend(true, $.trumbowyg.langs, {

                fr: {

                    align: 'Alignement',

                    image: 'Image'

                }

            });

            $('#customized-buttonpane').trumbowyg({

                lang: 'fr',

                closable: true,

                fixedBtnPane: true,

                btnsDef: {

                    // Customizables dropdowns

                    align: {

                        dropdown: ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],

                        ico: 'justifyLeft'

                    },

                    image: {

                        dropdown: ['insertImage', 'upload', 'base64'],

                        ico: 'insertImage'

                    }

                },

                btns: ['viewHTML',

                    '|', 'formatting',

                    '|', 'btnGrp-test',

                    '|', 'align',

                    '|', 'btnGrp-lists',

                    '|', 'image']

            });







            /** Simple customization with current options **/

            $('#form-content').trumbowyg({

                lang: 'fr',

                closable: true,

                mobile: true,

                fixedBtnPane: true,

                fixedFullWidth: true,

                semantic: true,

                resetCss: true,

                autoAjustHeight: true,

                autogrow: true

            });









            $('.editor').on('dblclick', function(e){

                $(this).trumbowyg({

                    lang: 'fr',

                    closable: true,

                    fixedBtnPane: true

                });

            });

        </script>
        
        
            
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button id="" class="button bg-main icon-edit" type="button" onclick="addText(false);"> 继续添加正文</button>
          <button id="" class="button bg-main icon-check-square-o" type="button" onclick="addText(true);"> 完成</button>
        </div>
      </div>
    </form>
  </div>
  
  
</div>

</body>
</html>