<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit"/>
<title></title>
<link rel="stylesheet" href="css/pintuer.css"/>
<link rel="stylesheet" href="css/admin.css"/>
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
<title>用户详细信息</title>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head">
  <strong><span class="icon-key"></span> 用户详细信息</strong>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="" style="color:green;">评论监督</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="changePassword" style="color:green;">冻结</a>
  </div>
  
  <div class="padding border-bottom">
  	<div class="panel-head" style="text-align: center;">
    	<img src="images/y.jpg" class="radius-circle rotate-hover" height="100" />
    </div>
    <div class="panel-head">
    	<strong> ID：</strong><span> 1</span>
    </div>
    <div class="panel-head">
    	<strong> 姓名：</strong><span> 方秋都</span>
    </div>
    <div class="panel-head">
    	<strong> 昵称：</strong><span> du</span>
    </div>
    <div class="panel-head">
    	<strong> 性别：</strong><span> 男</span>
    </div>
    <div class="panel-head">
    	<strong> 邮箱：</strong><span> 125892495@qq.com</span>
    </div>
    <div class="panel-head">
    	<strong> 手机号：</strong><span> 18814126654</span>
    </div>
    <div class="panel-head">
    	<strong> 身份：</strong><span> 大学生</span>
    </div>
    <div class="panel-head">
    	<strong> 冻结状态：</strong><span> 否</span>
    </div>
    <div class="panel-head">
    	<strong> 签名：</strong><span> ....</span>
    </div>
  </div>
  
</div>
</body>
</html>